* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8b4513; /* Cor primária (marrom sela) */
    --secondary-color: #3e2723; /* Cor secundária (marrom escuro) */
    --tertiary-color: #795548; /* Cor terciária (marrom médio) */
    --bg-color: #faf8f0; /* Cor de fundo (bege mais claro) */
    --branco-color: #ffffff; /* Cor branca */
}

body{
    background: var(--bg-color); /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 5px; /* Espaçamento interno (10px em cima/baixo, 5px nos lados) */
    display: flex; /* Habilita o layout flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    position: sticky; /* Mantém o cabeçalho fixo no topo ao rolar a página */
    top: 0; /* Posição do topo quando sticky */
    background-color: #3e2723; /* Cor de fundo do cabeçalho (marrom escuro) */
    color: #f5f5dc; /* Cor do texto (bege claro) */
    z-index: 10; /* Define a ordem de empilhamento para ficar sobre outros elementos */
    border-bottom: 1px solid #3e2723; /* Adiciona uma borda inferior */
    gap: 1rem; /* Espaçamento entre os elementos flex */

}

h1{
    font-family: "Fjalla One", sans-serif;
    text-align: center;
}

form{
    background: var(--branco-color); /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 100px;
}

fieldset{
    background: var(--bg-color); /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

p{
    margin-bottom: 15px;
    font-weight: bold;
}


input, select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
}

input[type="radio"], 
input[type="checkbox"] {
    width: auto;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
    color: #ffffff;
}

button[type="reset"]:hover{
    background-color: orangered;
    color: #ffffff;
}
